.catalog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    position: relative;
    overflow-x: auto; 
}

.catalog-title {
    font-family: "Anton SC", sans-serif;
    font-size: 3em; 
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 10px 0; 
}

.title-underline {
    width: 140%; 
    height: 6px; 
    background-color: orange;
    border-radius: 2px;
    margin-bottom: 0; 
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-left: auto;
    padding-left: 20px; 
    margin-right: 20px; 
}

    .filter-container label {
        margin-right: 10px;
    }

#sort {
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    #sort:hover {
        background-color: #007BFF;
        color: white;
    }

    #sort option {
        border-radius: 8px;
    }

        #sort option:hover {
            background-color: #007BFF;
            color: white;
        }

.game-container {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 20px;
    margin-top: 20px;
}

.game-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.game-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: calc(33.33% - 20px);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease, outline 0.2s ease;
}

    .game-card:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transform: translateY(-5px);
        outline: 3px solid orange;
    }

.game-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.game-info {
    margin-top: 10px;
}

.game-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.game-difficulty,
.game-count {
    margin-top: 5px;
}
