.game-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 70px;
}

.game-header {
    position: absolute;
    top: -53px;
    right: 1;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.2em;
    z-index: 1;
    border-radius: 4px;
    
}

.game-title {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 10px;
}

.game-info {
    display: inline-block;
    font-size: 0.9em;
}

.game-image-container {
    position: relative;
    margin-right: 20px;
    display: inline-block;
}

.game-image {
    width: 350px;
    height: auto;
    display: block;
}

.game-details-container {
    display: flex;
    margin-top: 0px;
}

.game-details {
    background-color: orange;
    color: white;
    padding: 10px;
    width: 500px;
    height: 300px;
    border-radius: 5px;
    margin-right: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.forma {
    width: 300px;
    position: relative; 
}

    .forma .form-field {
        margin-bottom: 15px;
    }

    .forma label {
        display: block;
        margin-bottom: 5px;
    }

    .forma input {
        width: calc(100% - 10px);
        padding: 8px;
        border: 1px solid #000;
        border-radius: 5px;
        box-sizing: border-box;
        color: black; 
    }

    .forma button {
        background-color: #f90; 
        color: white; 
        border: none;
        padding: 8px 16px;
        margin-top: 0px;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, transform 0.2s;
        position: absolute;
        bottom: 1;
        right: 0;
    }

        .forma button:hover,
        .forma button:focus {
            background-color: #007bff; 
            outline: none;
            transform: scale(1.05);
        }

        .forma button:active {
            transform: scale(0.95);
        }

.action-buttons {
    position: absolute;
    bottom: -50px;
    right: 1;
}

.action-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-left: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .action-button:hover {
        background-color: #007bff;
    }
.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    margin-left: 50px;
    margin-bottom:50px;
      margin-top: -30px;
}

    .rating > input {
        display: none;
    }

    .rating > label {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        font-size: 40px;
        color: #ccc;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
    }

        .rating > label::before {
            content: "\2606";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            color: #ccc;
        }

        .rating > input:checked ~ label::before,
        .rating > label:hover::before,
        .rating > label:hover ~ label::before {
            content: "\2605";
            color: yellow; 
        }

.comment-input {
    position: relative;
    top: -165px; /* Примерна стойност - променете според нуждите */
    right: -360px; /* Примерна стойност - променете според нуждите */
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: calc(30% - 22px);
    box-sizing: border-box;
}

    .comment-input::placeholder {
        color: white;
    }

.comment-button {
    position: relative;
    right: -360px;
    top: -165px;
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    .comment-button:hover,
    .comment-button:focus {
        background-color: #007bff;
        outline: none;
        transform: scale(1.05);
    }

    .comment-button:active {
        transform: scale(0.95);
    }

.deleteButton {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 0;
}

    .deleteButton:hover {
        background-color: #007bff;
    }


@media (max-width: 768px) {
    .comment-input {
        width: auto; /* Променете според нуждите на отзивчивостта */
        position: relative; /* Променете, ако е необходимо за мобилната версия */
        top: 0; /* Променете според нуждите за мобилната версия */
        right: 0; /* Променете според нуждите за мобилната версия */
    }
}
.navbar {
    background-color: #6c757d;
}

.navbar-brand {
    font-size: 1.9rem;
    font-weight: bold;
    color: #084eec;
}

.navbar-toggler {
    border: none;
    outline: none;
}


.navbar-collapse {
    justify-content: space-between;
    flex-grow: 0;
}

.navbar-nav .nav-item {
}

.navbar-nav .nav-link {
    color: orange;
    transition: color 0.3s ease;
    font-weight: bold;
    font-size: 1.2rem;
}

ul {
    align-content: flex-end;
}


.navbar-nav .nav-link.disabled {
    color: #6c757d;
}

.form-control {
    width: 200px;
}

    .form-control:focus {
        border-color: orange;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
    }