@font-face {
    font-family: "norse bold";
}

.field {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text, .count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 680px;
    margin: 20px;
}

.content {
    padding: 20px;
}

.container-form {
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    padding-top:25px;
    padding-right:25px;
    padding-left:25px;
    background-color: white;
    /*box-shadow: 0px 5px 5px rgb(196, 192, 192);*/
    font-weight: bolder;
}

.description {
    display: flex;
    justify-content: flex-start;
    padding-left: 25px;
    height: 100px;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: bolder;
}

.entry {
    margin-bottom: 15px;
    margin-right: 30px;
}

    .entry label {
        display: block;
        margin-bottom: 5px;
    }
InputText, InputNumber {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, textarea {
    width: 100%;
    font-size: 20px;
}

label {
    color: #50555a;
    font-weight: 500;
    font-size: 17px;
}

InputText:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px rgb(154, 154, 214);
}

.button1 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #F0731E;
    font-size: 17px;
    color: white;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #D7722A;
    margin: 30px;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #01B1E1;
        box-shadow: 2px 2px 5px #B1F2FF;
    }

/* Styles for the file upload */
.file-upload-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

    .file-upload-wrapper input[type="file"] {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
        height: 100%;
        cursor: pointer;
        width: 100%;
    }

.file-upload-label {
    background-color: #F0731E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

    .file-upload-label:hover {
        background-color: #01B1E1;
    }

.filesLoaded {
    margin-top: 10px;
    font-size: 14px;
    color: #50555a;
}

.bites {
    margin-bottom: 20px;
}

.image-input {
    max-width: 580px;
    
}
    .image-input .entry {
        margin-left: 45px;
    }