@page "/counter"
@using Monkey.Data
@using Monkey.Data.Data.Entities;
@rendermode InteractiveServer
@inject ApplicationDbContext dbContext;

<PageTitle>Counter</PageTitle>


<h1>Table</h1>
<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
        @foreach(var user in users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

@code{
    List<ApplicationUser> users = new List<ApplicationUser>();

    protected override async Task OnInitializedAsync()
    {
        users = dbContext.Set<ApplicationUser>().ToList();
    }
}

