@page "/Reservation"
@rendermode InteractiveServer
@using Monkey.Core.Projections.Games
@using Monkey.Data.Data.Entities;
@using System.Collections.Generic;
@using Monkey.Core.Services.GameServices;
@using Monkey.Core.Services.ReservatioService;
@using Monkey.Data.Data.Repositories
@using Monkey.Core.Projections;
@using Monkey.Core.Services.UserService
@inject IGameService gameService
@inject IReservationService reservService
@inject IUserService userService
@inject NavigationManager NavManager


<PageTitle>Reserve</PageTitle>


<div>
    <label>Textbox 1:</label>
    <input type="text" @bind="gameName" />
</div>
<div>
    <label>Textbox 2:</label>
    <input type="text" @bind="bookDate" />
</div>
<div>
    <label>Textbox 3:</label>
    <input type="text" @bind="returnDate" />
</div>
<div>
    <button @onclick="Add">reserve</button>
</div>

@code {
    private string gameName;
    private string bookDate;
    private string returnDate;
    Reservation reserv = new Reservation();
    Game game = new Game();

    private async void Add()
    {
        await Task.Delay(100);
        game = await gameService.GetByName(gameName);
        

        if (game.isBooked)
        {
            // reserv.Game = game;
            // reserv.BookDate = DateTime.Parse(bookDate);
            // reserv.ReturnDate = DateTime.Parse(returnDate);
            // reserv.User = await userService.GetById(1);
            // reservService.Create(reserv);
            gameService.UpdateCountDown(game.Id);
            NavManager.NavigateTo("/catalog");
        }
        else
        {
            throw new Exception("Играта не е в наличност");
        }
        
    }
}
