
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="Wishlist-container">
        <h1>My Wishlist</h1>
        <ul class="Wishlist">
            <li class="Wishlist-item">
                <img src="item1.jpg" alt="Item 1" class="item-image">
                <div class="item-details">
                    <h2 class="item-name">Item 1</h2>
                    <p class="item-description">Description of item 1.</p>
                    <button class="remove-button">Remove</button>
                </div>
            </li>
            <li class="Wishlist-item">
                <img src="item2.jpg" alt="Item 2" class="item-image">
                <div class="item-details">
                    <h2 class="item-name">Item 2</h2>
                    <p class="item-description">Description of item 2.</p>
                    <button class="remove-button">Remove</button>
                </div>
            </li>
           
        </ul>
    </div>
</body>
</html>




